<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzj.mytest">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".collection.TestCollectionActivity" />

        <activity android:name=".handler.TestHandlerActivity" />

        <activity android:name=".rxjava.TestRxjavaActivity" />

        <activity android:name=".view.TestViewActivity" />

        <activity android:name=".thread.TestThreadActivity" />

        <activity android:name=".voice.VoiceEncryptionActivity" />
        <activity android:name=".voice.JLayerActivity" />
        <activity android:name=".voice.TestAudioTrackActivity" />

        <activity android:name=".screensize.TestScreenAdapterActivity" />

        <activity android:name=".h5.TestWebViewActivity" />

        <activity android:name=".service.TestServiceActivity" />

        <service android:name=".service.MyService" />

        <activity android:name=".stroe.TestStoreActivity" />

        <activity android:name=".kotlin.TestKotlinActivity" />

        <activity android:name=".device.DeviceActivity" />

    </application>

</manifest>